*,
*::before,
*::after { box-sizing:border-box; }
a { text-decoration:none; color:inherit; cursor:pointer; }
button { background-color:transparent; color:inherit; border-width:0; padding:0; cursor:pointer; }
figure{ margin:0; }
ul, ol, dd { margin:0; padding:0; list-style:none; overflow: auto;}
h1, h2, h3, h4, h5, h6 { margin:0; font-size:inherit; font-weight:inherit; }
p { margin:0; }
cite { font-style:normal; }
fieldset { border-width:0; padding:0; margin:0; }
body {margin: 0;}

.container {
    font-family: 'Open Sans', sans-serif;
    background: #EBEBEB ;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 15px;
    overflow: auto; 
} 
.about {
    float: left;
    padding: 135px 102px 43px 117px;
}
.about span {
    display: block;
    font-size: 11px;
    line-height: 17px;
    letter-spacing: 2.76px;
    color: #99823D;
    text-transform: uppercase;
    margin-bottom: 5px;
    max-width: 82px;
}
h2 {
    display: block;
    font-family: 'Teko', sans-serif;
    font-size: 53px;
    line-height: 53px;
    max-width: 655px;
    margin-bottom: 28px;
}

.about p {
    display: block;
    font-size: 17px;
    line-height: 25.5px;
    max-width: 683px;
    margin-bottom: 16px;
}
