*,
*::before,
*::after { box-sizing:border-box; }
a { text-decoration:none; color:inherit; cursor:pointer; }
button { background-color:transparent; color:inherit; border-width:0; padding:0; cursor:pointer; }
figure{ margin:0; }
ul, ol, dd { margin:0; padding:0; list-style:none; overflow: auto;}
h1, h2, h3, h4, h5, h6 { margin:0; font-size:inherit; font-weight:inherit; }
p { margin:0; }
cite { font-style:normal; }
fieldset { border-width:0; padding:0; margin:0; }
body {margin: 0;}

.container {
    font-family: 'Open Sans', sans-serif;
    background: #EBEBEB ;
    position: relative;
    z-index: 5;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 15px;
    overflow: auto; 
} 

.about {
    float: left;
    padding: 135px 102px 43px 117px;
}

.about span {
    display: block;
    font-size: 11px;
    line-height: 17px;
    letter-spacing: 2.76px;
    color: #99823D;
    text-transform: uppercase;
    margin-bottom: 5px;
    max-width: 82px;
}

.about h2 {
    display: block;
    font-family: 'Teko', sans-serif;
    font-size: 53px;
    line-height: 53px;
    max-width: 655px;
    margin-bottom: 28px;
}

.about p {
    display: block;
    font-size: 17px;
    line-height: 25.5px;
    max-width: 683px;
    margin-bottom: 16px;
}

.news {
    float: left;
    padding-top: 173px;
}

.news span {
    display: block;
    font-size: 11px;
    line-height: 17px;
    letter-spacing: 2.76px;
    color: #99823D;
    text-transform: uppercase;
    max-width: 181px;
    margin-bottom: 11px;
}

.news h3 {
    display: block;
    font-family: 'Teko', sans-serif;
    font-size: 26px;
    line-height: 26.5px;
}

.first-news {
    max-width: 323px;
    margin-bottom: 79px;
}

.second-news {
    max-width: 339px;
}

.achievements {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 15px;
    overflow: auto; 
    background: #EBEBEB;
    padding-left: 61px;
}

.achievements li {
    float: left;
    font-family: 'Teko', sans-serif;
    font-size: 59px;
    position: relative;
    font-weight: 700;
    padding-right: 71px;
    padding-left: 71px;
}

.aftul li:not(:last-child):after {
    display: inline-block;
    content:"";
    width: 10px;
    height: 10px;
    background: #99823D;
    position:absolute;
    right: 5px;
    bottom: 20px;
}

.text-after li {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    line-height: 17px;
    letter-spacing: 2.76px;
    color: #99823D;
    text-transform: uppercase;
    font-weight: 400;
    padding-right: 100px;
    padding-left: 95px;
}

.img {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 150px 0px 68px 68px;
    background: #EBEBEB;
    overflow: auto;
    
}
.new-one {
    float: left;
    background: #EBEBEB url(../photo/IMAGE1.png) no-repeat;
    width: 412px;
    height: 275px;
    margin-right: 34px;
    position: relative;
}

.new-two {
    float: left;
    background: #EBEBEB url(../photo/IMAGE2.png) no-repeat;
    width: 412px;
    height: 275px;
    margin-right: 34px;
    position: relative;
}

.new-three {
    float: left;
    background: #EBEBEB url(../photo/IMAGE3.png) no-repeat;
    width: 412px;
    height: 275px;
    position: relative;
}

.new {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 2.72px;
    color:#FFFFFF;
    text-transform: uppercase;
    padding: 9px 33px 8px 36px;
    background: black;
    overflow: auto;
    width: 103px;
    height: 34px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.gold {
    background: #99823D;
    font-size: 11px;
    line-height: 34px;
    letter-spacing: 2.76px;
    color:#FFFFFF;
    text-transform: uppercase;
    overflow: auto;
    width: 206px;
    height: 102px;
    position: absolute;
    right: 0px;
    bottom: -68px;
    padding-left: 33px;
}

.house {
    background:black;
    font-size: 26px;
    line-height: 26px;
    font-family: 'Teko', sans-serif;
    color:#FFFFFF;
    padding: 15px 92px 26px 92px ;
    overflow: auto;
    width: 378px;
    height: 68px;
    position: absolute;
    left: 0px;
    bottom: -68px;
    text-align: center;
}
