*,
*::before,
*::after { box-sizing:border-box; }
a { text-decoration:none; color:inherit; cursor:pointer; }
button { background-color:transparent; color:inherit; border-width:0; padding:0; cursor:pointer; }
figure{ margin:0; }
ul, ol, dd { margin:0; padding:0; list-style:none; overflow: auto;}
h1, h2, h3, h4, h5, h6 { margin:0; font-size:inherit; font-weight:inherit; }
p { margin:0; }
cite { font-style:normal; }
fieldset { border-width:0; padding:0; margin:0; }
body {margin: 0;}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 15px;
    color: #FFFFFF;
    background: #141414;
    font-family: 'Open Sans', sans-serif;
    overflow: auto;
}

.header-logo {
    position: absolute;
    background:#99823D;
    font-size: 42.73px;
    line-height: 49px;
    padding: 43.5px 68px;
    margin-left: 53px;
}

.thumbnail {
    margin-left: 428px;
    overflow: auto;
    float: left;
}
.thumbnail p {
    float:left;
    font-size: 9px;
    line-height: 15px;
    margin: 26px 3px 26px 3px;
}
.thumbnail__txt{
    float:left;
    font-size: 9px;
    line-height: 15px;
    margin: 26px 3px 26px 3px;
}
.icon {
    width: 14.18px;
    height: 12.76px;
    margin: 28.12px 230.91px 27.13px 2.41px;
}

.navigation {
    overflow: auto; 
}
.navigation li {
    float:left;
    margin: 17px 10px;
}
.navigation li a {
    text-transform: uppercase;
    letter-spacing: 2.7625px;
    padding: 10px 10px;
    font-size: 11px;
    line-height: 34px;
}
.navigation li a:hover {
    background: #FFFFFF;
    color: #141414;
}

.content {
    background: #141414 url(../photo/IMAGE.png) no-repeat;
    background-position: center left 68px;
    overflow: auto;
    width: 100%;
    max-width: 1440px;
    margin: auto;
}

.box {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    z-index: 5;
    left: 290px;
    bottom: 0px;
    width: 100%;
    max-width: 584px;
    margin: 0 auto;
    overflow: auto; 
    background: #FFFFFF;
    margin-top: 68px;
    margin-bottom: 68px;
}
.box__top {
    display: block;
    width: 142px;
    font-size: 11px;
    line-height: 17px;
    letter-spacing: 2.76px;
    color: #99823D;
    margin-top: 67px;
    margin-left: 68px;
}
.box__title {
    font-family: 'Teko', sans-serif;
    font-size: 67px;
    line-height: 67.5px;
    color: #141414;
    margin: 2px 99px 32px 68px ;
}
.box__txt {
    font-size: 17px;
    line-height: 25.5px;
    color: #141414;
    margin: 0px 81px 15px 68px ;
}

.btn {
    overflow: auto;
    margin: 0px 0px 68px 51px;
}
.one {
    text-transform: uppercase;
    letter-spacing: 2.975px;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 18px;
    margin-left: 17px;
}
.btn__gold {
    background: #99823D;
    padding: 25px 69.5px;
    float: left;
}
.btn__gold:hover {
    color: #141414;
}
.btn__black {
    background: #141414;
    padding: 25px 59.5px;
}
.btn__black:hover {
    color: #99823D;
}
.social {
    max-width: 100%;
    width: 1440px;
    margin: auto;
    background: #141414;
    position: relative;

}
.social__nav {
    background: #EBEBEB;
    width: 100%;
    max-width: 978px;
    margin-left: 68px;
}
.social__nav li {
    float: left;
    margin-right: 36px;
}
.social__nav li a {
    font-family:'Open Sans', sans-serif; ;
    padding: 10px 5px;
    letter-spacing: 2.97px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 68px;
}
.social__nav li a:hover {
border-style:double;
border-color:#99823D;
}

.gold-square {
    content: "";
    background: #99823D;
    width: 489px;
    height: 329px;
    position: absolute;
    right: 53px;
    bottom: 0px;
}
