*,
*::before,
*::after { box-sizing:border-box; }
a { text-decoration:none; color:inherit; cursor:pointer; }
button { background-color:transparent; color:inherit; border-width:0; padding:0; cursor:pointer; }
figure{ margin:0; }
ul, ol, dd { margin:0; padding:0; list-style:none; overflow: auto;}
h1, h2, h3, h4, h5, h6 { margin:0; font-size:inherit; font-weight:inherit; }
p { margin:0; }
cite { font-style:normal; }
fieldset { border-width:0; padding:0; margin:0; }
body {margin: 0;}

.wrap {
    background: #E5E5E5 ;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 15px;
    overflow: auto; 
}
.wrap__partners {
    margin: 68px 83px 136px 83px; 
}
.partners-logo li {
    float: left;
    overflow: auto;
    padding-left: 55px;
    padding-right: 55px;
    position: relative;
}
.partners-logo li:not(:last-child):after {
    content:"";
    width: 9px;
    height: 9px;
    background: #99823D;
    position:absolute;
    right: 0px; bottom: 20px;
}

.block {
    font-family: 'Open Sans', sans-serif;
    background: #3D3D3D;
    color: #FFFFFF;
    width: 100%;
    max-width: 1304px;
    margin-left: 53px;
}
.block__nav {
    margin-left: 68px;
    margin-right: 38px;
}
.block__nav p {
    float:left;
    margin: 68px 477px 34px 0px;
    font-size: 30px;  
    font-weight: 700;
}
.block__nav li {
    float:left;
    margin: 68px 20px 41px 0px;
}
.block__nav li a {
    text-transform: uppercase;
    letter-spacing: 2.7625px;
    padding: 5px 10px;
    font-size: 11px;
    line-height: 34px;
}

.end {
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    background:black;
    max-width: 100%;
    width: 1440px;
    height: 239px;
    position: relative;
}
.end ul {
    padding-top: 185px;
    padding-left: 139px;
    float: left;
    margin: auto;
}
.end li {
    
    float: left;
    color: #FFFFFF;
    margin-right: 36px;
    text-transform: uppercase;
    letter-spacing: 2.76px;
    padding: 3px 3px;
    font-size: 11px;
    line-height: 34px;
}

.tiny-info  {
    float: left;
    padding-top: 190px;
    margin-left: 610px;
}
.tiny-info p, span {
    text-transform: uppercase;
    letter-spacing: 2.7625px;
    font-size: 11px;
    line-height: 34px;
}
.tiny-info__color-text {
    color: rgba(255, 255, 255, 0.75);
}
.tiny-info__color-txt {
    color: #FFFFFF; 
}
.form {
    background: #99823D;
    width: 1168px;
    height: 204px;
    overflow: auto;
    position: absolute;
    bottom: 78px; left: 136px;    
}
.inp {
    text-transform: uppercase;
    letter-spacing: 2.7625px;
    font-size: 11px;
    line-height: 34px;
    width: 100%;
    padding: 15px;
    margin-top: 68px;
    margin-bottom: 68px;
}
.form__em {
    max-width: 860px;
    padding: 15px;
    margin-left: 68px;
    margin-right: 17px;
}
.form__btn {
    max-width: 155px;
    background: black;
    color: #FFFFFF;
    border-color: black;
}
.form__btn:hover {
    background:white;
    color: black;
    border-color: black;
    border-style:double;
}


